h1{
    background-color: yellow;
    color: blue;
    text-align:center;
}
h2{
    background-color: blue;
    color: yellow;
    text-align: center;
    margin-top: 0px;
}

img{
    width: 400px;
    margin-left: 12cm;
}


body{
    background-color:rgba(181, 143, 143, 1) ;

}

img{
    margin-left: 380px;
    margin-right: 25px;
    width: 12cm;
    height: 9cm;
    align-content: center;
}
nav{
    color: aqua;
    background: fixed;
    background-color: blueviolet;

}